:root {
    --main-color: #02523a;
}

/* Styling for Headers */
h1,
h2 {
    font-variant: small-caps;
    color: var(--main-color);
}


/* Styling for Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 1em;
    width: 80%;
    margin: auto;
    background-color: #fffff9;
}



br {
    clear: both;
}

/* Footer */
footer p {
    text-align: center;
    padding: 1em 0;
    border-top: 2px solid #02523a;
    border-bottom: 2px solid #02523a;
    background-color: #02523a;
    color: white;
    clear: both;
}

/* Navigation Menu */
#nav_menu {
    padding-bottom: .5em;
    margin: auto;
    width: 100%;
}

#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

#nav_menu ul li {
    flex-basis: 33%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-right: 2px solid rgb(255, 255, 255);
}

#nav_menu ul li a:hover {
    background-color: #023c2b;
}


#nav_menu ul li a.lastitem {
    border-right: none;
}

main {
    clear: left
}


/* Image layout */
main {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    grid-template-areas:
        "one two three"
        "four five six"
        "sev eig nine";

}

img {
    width: 95%;
}

img:hover {
    width: 100%;
}


/*** Media Quieries ***/

/* Makes nav menu vertical after breakpoint*/
@media only screen and (max-width: 630px) {

    #nav_menu ul {
        flex-direction: column;
    }

    #nav_menu ul li a {
        border-right: none;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    #nav_menu ul li a.lastitem {
        border-bottom: none;
    }

    #nav_menu {
        padding-bottom: 0;
    }


}


/* Moves paintingings into one column */

@media only screen and (max-width: 760px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "sev"
            "eig"
            "nine";

    }
}