:root {
    --main-color: #02523a;
}

/* Styling for Headers */
h1,
h2 {
    color: var(--main-color);
}

/* Styling for Body */
body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 100%;
    padding: 1em;
    width: 80%;
    margin: auto;
    background-color: #fffff9;
}

main em {
    font-size: larger;
}

.list,
.character {
    font-size: 115%;

}

/* Styling for Key Artists List */
#key-artists {
    border: 2px solid #02523a;
    background-color: #e0e9c2;
    float: left;
    padding: .5em 3em 2em 3em;
    width: 45%;
}

ul#key-artists {
    list-style-image: url("images/brush.png");
}

/* Styling for Characteristics List */
#characteristics {
    border: 2px solid #02523a;
    background-color: #e0e9c2;
    float: left;
    padding: .5em 3em 2em 3em;
    width: 45%;
    clear: left;
}

#credit,
#license {
    float: right;
    clear: right;
    width: 40%;
}

/* Images */
section img {
    float: right;
    padding: 2em 0em .5em 0em;
    width: 40%;
    min-width: 300px;
    clear: right;
}

br {
    clear: both;
}

/* Styling for Artists Page */
div#sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.artist {
    display: flex;
    padding: 1em;
    margin: 1em;
}

section.artist img {
    padding: .5em;
    min-width: 300px;
    align-self: center;
    width: 100%;
}

div.artist-desc {
    margin: 0 2em;
}

.top {
    clear: both;
}

/* Styling for Tutorials Page */
.videos {
    padding: 1em;
}

/* Footer */
footer p {
    text-align: center;
    padding: 1em 0;
    border-top: 2px solid #02523a;
    border-bottom: 2px solid #02523a;
    background-color: #02523a;
    color: white;
    clear: both;
}

/* Navigation Menu */
#nav_menu {
    padding-bottom: .5em;
    margin: auto;
    width: 100%;
}

#nav_menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

#nav_menu ul li {
    flex-basis: 25%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-right: 2px solid rgb(255, 255, 255);
}

#nav_menu ul li a:hover {
    background-color: #023c2b;
}


#nav_menu ul li a.lastitem {
    border-right: none;
}

main {
    clear: left
}

/*** Media Quieries ***/

/* Puts everything to left after breakpoint */
@media only screen and (max-width: 940px) {

    #key-artists,
    #characteristics {
        float: none;
    }

    section img {
        float: none;
        padding: .5em 0;
        width: 60%;
    }

    #credit,
    #license {
        float: none;
        width: 100%;
    }

    #key-artists,
    #characteristics {
        width: 80%;
        padding-left: 2.5em;
        padding-right: 1.5em;
    }
}

/* Makes nav menu vertical after breakpoint*/
@media only screen and (max-width: 630px) {

    #nav_menu ul {
        flex-direction: column;
    }

    #nav_menu ul li a {
        border-right: none;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    #nav_menu ul li a.lastitem {
        border-bottom: none;
    }

    #nav_menu {
        padding-bottom: 0;
    }

}

/* Makes artist cards vertical after breakpoint*/
@media only screen and (max-width: 845px) {

    div#sections {
        flex-direction: column;
        align-items: center;
    }

    .artist {
        flex-direction: column;
        padding: .5em;
        margin: .5em;
    }

    section.artist img {
        margin: 0;
        align-self: center;
        max-width: 300px;
    }

    div.artist-desc {
        margin: 0;
    }
}

@media only screen and (max-width: 375px) {
    .artist {
        padding: 0;
        margin: 0;
    }

    section.artist img {
        margin: 0;
        align-self: center;
        min-width: 175;
    }

    #key-artists,
    #characteristics {
        padding-left: 2em;
        padding-right: 1.5em;
    }
}

@media only screen and (max-width: 700px) {
    iframe {
        width: 100%;
    }
}