:root {
    --header-color: #02523a;
}

/* Styling for Headers */
h1,
h2 {
    font-variant: small-caps;
    color: var(--header-color);
}

/* Styling for Body */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

/* Styling for Key Artists List */
.artist {
    font-size: 115%;

}

.artist::first-letter {
    font-size: larger;
}

/* Img */
 
main em {
    color: #485c02;
    font-size: larger;
}

/* Styling for Artists Page */
article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid #485c02;
}

/* Footer */
footer p {
    text-align: center;
    padding: 1em 0;
    border-top: 3px solid #02523a;
    border-bottom: 3px solid #02523a;
    background-color: #02523a;
    color: white;
    clear: both;
}