:root {
    --header-color: #02523a;
}

/* Styling for Headers */
h1,
h2 {
    font-variant: small-caps;
    color: var(--header-color);
}

/* Styling for Body */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 2em;
    margin-right: 2em;
    background-color: #fffff9;
}

/* Styling for Key Artists List */
.artist {
    font-size: 115%;

}

.artist::first-letter {
    font-size: larger;
}

#key-artists {
    border: 2px solid #02523a;
    background-color:#e0e9c2;
    float:left;
    padding: .5em 3em 2em 3em;
    
}

/* Front Page Img */
img {
   float:right;
    padding: 2em 5em;
} 


main em {
    color: #4F6F52;
    font-size: larger;
}


/* Styling for Artists Page */
article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid #4F6F52;
}

/* Footer */
footer p {
    text-align: center;
    padding: 1em 0;
    border-top: 2px solid #02523a;
    border-bottom: 2px solid #02523a;
    color: white;
    clear: both;
    background-image: linear-gradient(45deg, #02523a 40%, #4F6F52 60%);
}

